$dark-theme-colors: (
  primary: #0d6efd,
  secondary: #6c757d,
  success: #198754,
  info: #0dcaf0,
  warning: #ffc107
);

// Mapa de colores para tema claro
$light-theme-colors: (
  primary: #0d6efd,
  primary--hover: #0d6dfd64,
  secondary: #6c757d,
  success: #198754,
  info: #0dcaf0,
  warning: #ffc107
);
