@use "@/styles/mixins" as *;
.container{
    @include grid(2,1em);
    font-size: 1em;
    &__row{
        @include flex(row,start,center);
        gap: .25em;
    }
    svg{
        height: 25px;
        width: 25px;
    }
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3,1fr);
        &__row{
            flex-direction: column;
        }
        svg{
            height: 48px;
            width: 48px;
        }
    }
    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(4,1fr);
    }
}